
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    display: block;
    padding: 8px 10px;
    background-color: #AA3939;
   /* margin-bottom: 40px;*/
   /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
    opacity: .90;
    width: 100%;

}
.dropdown-menu {
        position: relative;
        float: none;
    }



.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #A6373F;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mainbody{

    background: url('../images/wallpaper.jpg');
    height: 100%; 

 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;





}
#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity:1;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #A6373F;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #ffffff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /*padding: 20px;*/
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/*-----Dashboard panels-----*/

.panel-primary .panel-footer span{ color: #337ab7 }
.panel-primary .panel-footer:hover { background-color: #337ab7; transition: all 0.2s ease-in }
.panel-primary .panel-footer:hover span { color: #fff }

.panel-green { border:1px solid #4CAF50; }
.panel-green .panel-heading{ border:1px solid #4CAF50; background-color: #4CAF50 }
.panel-green .panel-footer span{ color: #4CAF50 }
.panel-green .panel-footer:hover { background-color: #4CAF50; transition: all 0.2s ease-in }
.panel-green .panel-footer:hover span { color: #fff }

.panel-red { border:1px solid #FF5722; }
.panel-red .panel-heading{ border:1px solid #FF5722; background-color: #FF5722 }
.panel-red .panel-footer span{ color: #FF5722 }
.panel-red .panel-footer:hover { background-color: #FF5722; transition: all 0.2s ease-in }
.panel-red .panel-footer:hover span { color: #fff }

.panel-yellow { border:1px solid #FFC107; }
.panel-yellow .panel-heading{ border:1px solid #FFC107; background-color: #FFC107 }
.panel-yellow .panel-footer span{ color: #FFC107 }
.panel-yellow .panel-footer:hover { background-color: #FFC107; transition: all 0.2s ease-in }
.panel-yellow .panel-footer:hover span { color: #fff }

/*-----Breadcrumbs-----*/

.page-title-box{
      border-bottom: 1px solid #337ab7;
    margin-bottom: 30px;
}
.breadcrumb{
  margin-top: 14px;
  margin-bottom: 0;
  background-color: transparent;
}

/*-----List Group-----*/

.list-group {
    height: auto;
    overflow: auto;
}

/*-----Data Tables-----*/
table th{
  white-space: nowrap;
}

/*-----Extra classes-----*/

.marr20{
  margin-right: 20px;
}
.padd20{
  padding:20px;
}
.footer{
  background-color: #ccc;
  padding:5px;
}

::-webkit-scrollbar,{
  width:5px;
}
::-webkit-scrollbar-track {
      background-color: #337ab7;
}
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
}
::-webkit-scrollbar-button {
      background-color: #d9edf7;
}
::-webkit-scrollbar-corner {
      background-color: black;
}

/*-----Media classes-----*/

@media (max-width: 768px){
  .navbar-right li:nth-child(n){
    display:none;
  }
  .navbar-right li:last-child{
    display: block;
  }
  .side-menu{
    margin-left:-250px;
    z-index: 999;
  }
  .marr20 {
    margin-right: 0px;
  }
}
.bordered {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: .3rem;
}
.hrcontainer{
  padding: 30px;
}
.row{
  padding: 25px;
  }
.cardevent{
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
}

/*tabs*/
.tabs {
  max-width: 90%;
  float: none;
  list-style: none;
  padding: 0;
  margin: 75px auto;
  border-bottom: 4px solid #ccc;
}
.tabs:after {
  content: "";
  display: table;
  clear: both;
}
.tabs input[type="radio"] {
  display: none;
}
.tabs label {
  display: block;
  float: left;
  width: 33.3333%;
  color: #ccc;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  line-height: 2;
  cursor: pointer;
  box-shadow: inset 0 4px #ccc;
  border-bottom: 4px solid #ccc;
  -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
  transition: all 0.5s;
}
.tabs label span {
  display: none;
}
.tabs label i {
  padding: 5px;
  margin-right: 0;
}
.tabs label:hover {
  color: #3498db;
  box-shadow: inset 0 4px #3498db;
  border-bottom: 4px solid #3498db;
}
.tab-content {
  display: none;
  width: 100%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.tab-content * {
  -webkit-animation: scale 0.7s ease-in-out;
  -moz-animation: scale 0.7s ease-in-out;
  animation: scale 0.7s ease-in-out;
}
@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  50% {
    transform: scale(1.01);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.tabs [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: inset 0 4px #3498db;
  border-bottom: 4px solid #3498db;
  color: #3498db;
}
#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
  display: block;
}
@media (min-width: 768px) {
  .tabs i {
    padding: 5px;
    margin-right: 10px;
  }
  .tabs label span {
    display: inline-block;
  }
  .tabs {
    max-width: 950px;
    margin: 50px auto;
  }
}

/* vertical tab */

.tab_div {
  width: 100%;
  transform: translateZ(0);
}

.tabs_menu {
  /*   background-color:blue; */
  padding-top: 1%;
  width: 20%;
  float: left;
}

ul.tabs {
  padding: 0;
}

#tab1,
#tab2,
#tab3,
#tab4 {
  padding-top: 10%;
  padding-bottom: 20%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

ul.tabs li {
  list-style-type: none;
  font-family: Quicksand;
  border-right: 2px solid white;
  font-size: 18px;
  color: white;
  /*   transition: background-color 0.2s ease; */
}


/* ul.tabs li:hover {
  border-right: 2px solid #e1386c;
  background-color: rgba( 255, 155, 180, .9);
  font-weight: bold;
} */

#tab1_content,
#tab2_content,
#tab3_content,
#tab4_content {
  
  background-color:white;
  width: 70%;
  height: auto;
  padding-top: 5%;
}

/* hover effect */

ul.tabs li {
  display: inline-block;
  position: relative;
  padding: 1em;
  cursor: pointer;
  background: #17171e;
  color: white;
  z-index: 0;
}

ul.tabs li:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff9bb4;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .5s ease-out;
}

ul.tabs li:hover:before {
  transform: scaleX(1);
}