html, body {
  height:100%;
}


*, *:before, *:after {
  box-sizing:border-box;
}

.group {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.calendar-wrapper {
  width:380px;
  padding:2em;
  border:1px solid rgb(220,220,255);
  border-radius:5px;
  background:#fff;
  
  
}
table {
  clear:both;
  width:100%;
  border:1px solid rgb(220,220,255);
  border-radius:3px;
  border-collapse:collapse;
  color:#444;
  background-color: white;
}
td {
  height:48px;
  text-align:center;
  vertical-align:middle;
  border-right:1px solid rgb(220,220,255);
  border-top:1px solid rgb(220,220,255);
  width:100% / 7;
}
td.not-current {
  color:#c0c0c0;
}
td.normal {}
td.today {
  font-weight:700;
  color:rgb(40,40,59);
  font-size:1.5em;
}
thead td {
  border:none;
  color:rgb(40,40,59);
  text-transform:uppercase;
  font-size:1.5em;
}
th{
   text-align: center;
}
#btnPrev {
  float:left;
  margin-bottom:10px;
  &:before {
    content:'\f104';
    font-family:FontAwesome;
    padding-right:4px;
  }
}
#btnNext {
  float:right;
  margin-bottom:10px;
  &:after {
    content:'\f105';
    font-family:FontAwesome;
    padding-left:4px;
  }
}
#btnPrev, #btnNext {
  background:transparent;
  border:none;
  outline:none;
  font-size:1em;
  color:#c0c0c0;
  cursor:pointer;
  font-family:"Roboto Condensed", sans-serif;
  text-transform:uppercase;
  transition:all 0.3s ease;
 
}
#btnPrev:hover, #btnNext:hover {
    color:rgb(40,40,59);
    font-weight:bold;
  }

/* declare a 7 column grid on the table */
#calendar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#calendar tr, #calendar tbody {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
 width: 100%;
}

caption {
  text-align: center;
  grid-column: 1 / -1;
  font-size: 130%;
  font-weight: bold;
  padding: 10px 0;
}

#calendar a {
  color: #8e352e;
  text-decoration: none;
}

#calendar td, #calendar th {
  padding: 5px;
  box-sizing:border-box;
  border: 1px solid #ccc;
}

#calendar .weekdays {
  background: #8e352e;  
}


#calendar .weekdays th {
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  border: none !important;
  padding: 10px 6px;
  color: #fff;
  font-size: 13px;
}

#calendar td {
  min-height: 180px;
  display: flex;
  flex-direction: column;
}

#calendar .days li:hover {
  background: #d3d3d3;
}

#calendar .date {
  text-align: center;
  margin-bottom: 5px;
  padding: 4px;
  background: #333;
  color: #fff;
  width: 20px;
  border-radius: 50%;
  flex: 0 0 auto;
  align-self: flex-end;
}

#calendar .event {
  flex: 0 0 auto;
  font-size: 13px;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px;
  line-height: 14px;
  background: #e4f2f2;
  border: 1px solid #b5dbdc;
  color: #009aaf;
  text-decoration: none;
}

#calendar .event-desc {
  color: #666;
  margin: 3px 0 7px 0;
  text-decoration: none;  
}

#calendar .other-month {
  background: #f5f5f5;
  color: #666;
}

/* ============================
        Mobile Responsiveness
   ============================*/


@media(max-width: 768px) {

  #calendar .weekdays, #calendar .other-month {
    display: none;
  }

  #calendar li {
    height: auto !important;
    border: 1px solid #ededed;
    width: 100%;
    padding: 10px;
    margin-bottom: -1px;
  }
  
  #calendar, #calendar tr, #calendar tbody {
    grid-template-columns: 1fr;
  }
  
  #calendar  tr {
    grid-column: 1 / 2;
  }

  #calendar .date {
    align-self: flex-start;
  }
}



time {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 38px;
}
time em {
  display: block;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

header {
  padding: 50px 0;
  background: #4ecdc4;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
header a {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 20px;
  background: #44b3ab;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}
header a:hover {
  background: #249991;
  color: #ccc;
}

[role="main"] {
  overflow: hidden;
  padding: 15px;
  background: white;
  font-family: "Helvetica";
}

section ul {
  list-style-type: none;
}
section li {
  position: relative;
  display: inline-block;
  float: left;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  zoom: 1;
  *display: inline;
}

.l-date--event {
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.l-date--event:hover {
  background: #efefef;
}

.m-bullet--event {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #ff6b6b;
}

.m-box--weeks {
  color: #e66b6b;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

.m-box--date {
  color: #555;
  font-size: 14px;
}

.l-date--passed {
  color: #bababa;
}

.eventTip {
  position: absolute;
  width: 150px;
  left: 50%;
  top: -125%;
  margin-left: -75px;
  background: #249991;
  color: white;
}
.eventTip:before {
  content: "▾";
  position: absolute;
  font-size: 25px;
  color: #249991;
  bottom: -19px;
  left: 46%;
}
.containerEvent{
  margin: 5% auto 0;
  width: 350px;
}
.outerlayer
{
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 1.875rem
}