*{
margin: 0;
padding: 0;
}

body,html{

height: 100%;
color: white;
font-size: 20px;
font-family: 'Alegreya', serif;

}
.loginbody{
background: url('../images/back8.jpg') center center no-repeat;
background-size: cover;
height: 100%;
}
.card {

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  opacity: .90;
  width: 110%;
}
/*for nav try*/

.sidebar {
    color: #FFF;
    background: #A6373F;
    width: 250px;
    max-width: 250px;
    float: left;
    z-index: 1000;
    display: block;
    -webkit-transition: margin 1s;
    transition: margin 1s;
    flex:1;
    opacity: .80;

}
.cardprop
{
    background: rgba(0,0,0,0.8);
    color: black;
    padding: 1rem;
    
}
.card{
    padding: 5px;
    opacity: .85;
}
#navbar-toggle {
    cursor: pointer;
}
#toggleView {
    margin-left: 44px;
}
.menu-icon {
    float: right;
}
.sidebar-nav {
    display: block;
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;


}
.sidebar-nav li a {
    padding-left: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #FFF;
    float: left;
    text-decoration: none;
    width: 100%;
    height: 70px;
    line-height: 25px;
    padding: 20px;
    vertical-align: center;
}
.sidebar-nav li a:hover {
    background:#121213;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}
#mainNav {
  
    height: 70px;
    margin-top: 0px;
    display: inline-block;
    width: 100%;
}

.container {
  width: 100%;
  padding: 0px 35px;
}
.mainbody{
    background: url('../images/wallpaper.jpg') center center no-repeat;
background-size: cover;
height: 942px;

}
.maincontents{
    
    color: black;
    padding: 1rem;
    margin-left: 15rem;
    margin-top: 2rem;
    width: auto;
}
/*card*/


@media(max-width: 700px){

     h1{
        font-family: Italic;
    }
}

